* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
:root {
  --main-bg-color: #f4f4f4;
  --main-bd-color: rgb(0, 0, 255);
  --nav-menu-color: #f0f0f0;
  --button-hover-color: #e0e0e0;
  --table-odd-color: #f7fafc;
  font-size: 16px;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  background: var(--main-bg-color);
}
h1 {
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  color: #222;
}
p {
  font-size: 1.2rem;
}
section {
  padding-top: 15px;
}
.container {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  background-color: #f4f4f4;
}
.wrapper {
  margin-bottom: 85px;
}
header{
  background-image: linear-gradient(to bottom, #3498db 0%, #f4f4f4 100%);
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #f4f4f4 0%, #3498db 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}
#head-div {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1000px;
}
#hamburger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

#nav-menu {
  background-color: var(--nav-menu-color);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

#nav-menu.show {
  transform: translateX(0);
}

#navbar-ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}
.navbar-icon-li {
  margin: 7px 0;
}
.navbar-button-div {
  display: flex;
}
nav ul li a {
  display: flex;
  padding: 12px 15px;
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  transition: background-color 0.2s ease;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent; /* Gör den symmetrisk */
  border-bottom: 2px solid transparent;
}
.small-icon {
  display: flex;
}
.large-icon, .wide-list {
  display: none;
}
#nav-menu ul li a:hover {
  background-color: var(--button-hover-color);
  border-left-color: var(--main-bd-color);
}
#current-site {
  border-bottom-color: var(--main-bd-color);
}
.line {
  border-top: solid 1px;
}
main {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "sponsor"
  "mkr-schema"
  "fb-page"
  "anmalan";
}
#sponsors {
  grid-area: sponsor;
}
#sponsors-logo-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "radne" 
    "okm"
    "fp";
  gap: 10px;
}
.sponsors-logo-div {
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
#radne {
  grid-area: radne;
}
#okm {
  grid-area: okm;
}
#fp {
  grid-area: fp;
}
h2 {
  color: #3498db;
}
#nav-menu.hidden {
  display: none;
}
#mkr-schema {
  grid-area: mkr-schema;
}
#mkr-schema-wrapper {
  padding: 0 10px;
  text-align: center;
  max-width: 400px;
  margin: auto;
}
ol {
  padding-left: 20px;
}
section.fb-page {
  grid-area: fb-page;
}
.fb-page {
  text-align: center;
}
#showcase {
  display: none;
}

@media (min-width: 700px) {
  main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "sponsor sponsor"
    "mkr-schema fb-page"
    "showcase showcase"
    "anmalan anmalan";
    margin-top: 0;
  }
  section {
    padding-top: 20px;
  }
  #hamburger-btn {
    display: none;
  }
  #nav-menu {
    display: block;
    position: static;
    transform: translateX(0);
    overflow: visible;
    padding: 0;
  }

  #nav-menu.hidden {
    display: block;
  }

  #navbar-ul {
    display: flex;
  }
  .large-icon{
    display: block;
  }
  .small-icon {
    display: none;
  }
  .navbar-icon-li {
    margin: 0 20px;
  }
  #nav-menu ul li a {
    padding: 0;
  }
  #current-site {
    border-left-color: transparent;
    border-bottom-color: var(--main-bd-color);
  }
  #sponsors-logo-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "radne okm fp";
    gap: 10px;
  }
  #showcase {
    display: block;
    grid-area: showcase;
  }
  .gallery {
    display: flex;
  }
  #bild1, #bild2 {
    width: 50%;
  }
  .wide-list {
    display: block;
  }
  .skinny-list {
    display: none;
  }
}
@media (min-width: 1000px){
  section {
    padding-top: 25px;
  }
  .large-icon {
    display: none;
  }
  .small-icon {
    display: flex;
  }
  #nav-menu ul li a {
    padding: 10px;
  }
}
/* --- Anmälningssida --- */
#tavlingar-section {
  grid-area: anmalan;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.tavling-container {
  border: solid thin black;
  padding: 10px;
  margin-bottom: 30px;
}
.anmalan-nav {
  background-color: var(--nav-menu-color);
  display: flex;
  padding: 10px;
}
.anmalan-nav a{
  padding: 10px;
  border: solid thin black;
  margin-right: 5px;
}
.anmalan-nav a:hover{
  background-color: var(--button-hover-color);
}
.tavlingsklasser {
  display: flex;
  justify-content: space-between;
  border: solid thin gray;
  display: flex;
  padding: 5px;
}
.tavlingsklass {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 45px;
}
.tavlingsklasser a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
.tavlingsklasser a:hover {
  background-color: var(--button-hover-color);
}

/* Table Sida */
#table-container {
  font-family: 'Inter', sans-serif;
  padding: 0 20px;
}
.table-header th {
  background-color: #f7fafc;
  color: #4a5568;
  padding: 0.75rem;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  border-bottom: 1px solid #e2e8f0;
}
.table-row td {
  padding: 0.75rem;
  border-bottom: 1px solid #e2e8f0;
}
.table-row:nth-child(odd) {
  background-color: var(--table-odd-color);
}
.table-row:hover {
  background-color: var(--button-hover-color);
  transition-duration: 0.3s;
}