* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
  --main-bg-color: #f4f4f4;
  --secondary-bg-color: #4e8098;
  --main-bd-color: rgb(0, 0, 255);
  --nav-menu-color: #f0f0f0;
  --button-hover-color: #e0e0e0;
  --table-even-color: #f7fafc8a;
  --table-odd-color: #f7fafc;
  --primary-color: #003366;
  --secondary-color: #004080;
  --accent-color: #0050a0;
  --text-color: #333;
  --background-color: #f0f0f0;
  --white: #fff;
  --light-gray: #e0e0e0;
  --race-text-color: #004080;
  --border-color: #ddd;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
}
p {
  font-size: 1.2rem;
}
section {
  padding-top: 15px;
}
.container {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  background-color: var(--light-gray);
}
.wrapper {
  margin-bottom: 80px;
}
header {
  color: white;
  background: var(--primary-color);
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65px;
}
footer a {
  color: rgb(177, 222, 252);
}
#head-div {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1000px;
}
#hamburger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

#nav-menu {
  position: fixed;
  background-color: var(--nav-menu-color);
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  z-index: 1000;
}
#nav-menu.show {
  transform: translateX(0);
}
#navbar-ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}
.navbar-icon-li {
  margin: 7px 0;
}
.navbar-button-div {
  display: flex;
}
nav ul li a {
  display: flex;
  padding: 12px 15px;
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  transition: background-color 0.2s ease;
   border: 3px solid transparent;  
}
.small-icon {
  display: flex;
}

.large-icon,
.wide-list {
  display: none;
}
#nav-menu ul li a:hover {
  background-color: var(--button-hover-color);
  border-left-color: var(--main-bd-color);
}
#current-site {
  border-bottom-color: var(--main-bd-color);
}
.line {
  border-top: solid 1px;
}
main {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "sponsor"
    "mkr-schema"
    "fb-page"
    "anmalan"
    "startnummer-bokning";
}
#sponsors {
  grid-area: sponsor;
}
#sponsors-logo-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "radne"
    "okm"
    "fp";
  gap: 10px;
}
.sponsors-logo-div {
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
#radne {
  grid-area: radne;
}
#okm {
  grid-area: okm;
}
#fp {
  grid-area: fp;
}
h2 {
  color: var(--accent-color);
}
#nav-menu.hidden {
  display: none;
}
#mkr-schema {
  grid-area: mkr-schema;
}
#mkr-schema-wrapper {
  padding: 0 10px;
  text-align: center;
  max-width: 400px;
  margin: auto;
}
ol {
  padding-left: 20px;
}
section.fb-page {
  grid-area: fb-page;
}
.fb-page {
  text-align: center;
}
#showcase {
  display: none;
}

/* --- Anmälningssida --- */
#tavlingar-section {
  grid-area: anmalan;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.tavling-container {
  border: solid thin black;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}
.anmalan-nav {
  display: flex;
}
.anmalan-nav a {
  background-color: var(--nav-menu-color);
  display: flex;
  align-items: center;
  padding: 10px;
  border: solid thin black;
  margin-right: 5px;
}
.anmalan-nav a:hover {
  background-color: var(--button-hover-color);
}
.tavlingsklasser {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  border: solid thin gray;
  font-size: 0.8rem;
  display: flex;
  padding: 5px;
  background-color: var(--nav-menu-color);
}
.tavlingsklass {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tavlingsklasser a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
.tavlingsklasser a:hover {
  background-color: var(--button-hover-color);
}

/* Table Sida */
#table-container {
  font-family: "Inter", sans-serif;
  padding: 0 5px;
}
#table-container * {
  margin: auto;
}
.table-header th {
  background-color: #f7fafc;
  color: #4a5568;
  padding: 0.3rem;
  text-align: left;
  font-size: 0.6em;
  font-weight: 500;
  border-bottom: 1px solid #e2e8f0;
}
.table-row td {
  font-size: 0.5rem;
  padding: 0.3rem;
  border-bottom: 1px solid #e2e8f0;
}
.table-row:nth-child(even) {
  background-color: var(--table-even-color);
}
.table-row:nth-child(odd) {
  background-color: var(--table-odd-color);
}
.table-row:hover {
  background-color: var(--button-hover-color);
  transition-duration: 0.3s;
}
/* --------- Resultat Sida --------- */
#results {
  text-align: center;
  padding: 15px;
}
#results h2 {
  font-style: italic;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 24px;
}
.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #4a5568;
  margin-bottom: 1rem;
}
.list-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* ----------Startnummer--------- */
#startnummer-bokning-section {
  grid-area: startnummer-bokning;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
}
.startnummer-bokning-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.startnummer-bokning-list li {
  margin: 5px;
  min-width: 180px;
  max-width: 400px;
}
.startnummer-bokning-list li a div {
  display: flex;
  text-decoration: none;
  border: solid thin gray;
  border-radius: 5px;
  padding: 10px 20px;
}
.startnummer-bokning-list li a div:hover {
  background-color: var(--button-hover-color);
}
@media (min-width: 400px) {
  /* ---Anmälningssida--- */
  .tavlingsklasser {
    font-size: 1rem;
  }
  /* ---Table sida--- */
  .table-header th {
    font-size: 0.8rem;
    /* padding: 10px; */
  }
  .table-row td {
    font-size: 0.7rem;
    /* padding: 10px; */
  }
}
@media (min-width: 700px) {
  main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "sponsor sponsor"
      "mkr-schema fb-page"
      "showcase showcase"
      "anmalan anmalan"
      "startnummer-bokning startnummer-bokning";
    margin-top: 0;
  }
  section {
    padding-top: 20px;
  }
  #hamburger-btn {
    display: none;
  }
  #nav-menu {
    display: block;
    position: static;
    transform: translateX(0);
    overflow: visible;
    padding: 0;
  }

  #nav-menu.hidden {
    display: block;
  }

  #navbar-ul {
    display: flex;
  }
  .large-icon {
    display: block;
  }
  .small-icon {
    display: none;
  }
  .navbar-icon-li {
    margin: 0 20px;
  }
  #nav-menu ul li a {
    padding: 0;
  }
  #current-site {
    border-left-color: transparent;
    border-bottom-color: var(--main-bd-color);
  }
  #sponsors-logo-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "radne okm fp";
    gap: 10px;
  }
  #showcase {
    display: block;
    grid-area: showcase;
  }
  .gallery {
    display: flex;
  }
  #bild1,
  #bild2 {
    width: 50%;
  }
  .wide-list {
    display: block;
  }

  /* ---Startnummerbokning--- */
  #startnummer-bokning-section div.wide-list {
    display: flex;
    justify-content: space-evenly;
  }
  .skinny-list {
    display: none;
  }

  /* ---Resultatsida--- */
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* ---Table sida--- */
  .table-header th {
    font-size: 1.1rem;
    padding: 10px;
  }
  .table-row td {
    font-size: 1rem;
    padding: 10px;
  }
}
@media (min-width: 1000px) {
  section {
    padding-top: 25px;
  }

  .large-icon {
    display: none;
  }
  .small-icon {
    display: flex;
  }
  #nav-menu ul li a {
    padding: 10px;
  }
  /* ---Resultatsida--- */
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* Tailwind's lg:grid-cols-3 */
  }
}
