* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-bd-color: rgb(0, 0, 255);
}
img {
  display: block;
  max-width: 100%;
}
html {
  font-size: 16px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  background: #ebebeb
}
h1 {
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  color: #222;
}
p {
  font-size: 1.2rem;
}
.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: #f4f4f4;
}
header{
  background-image: linear-gradient(to bottom, #3498db 0%, #f4f4f4 100%);
}
footer {
  background-image: linear-gradient(to bottom, #f4f4f4 0%, #3498db 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100px;
}
#head-div {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1200px;
}
#hamburger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

nav {
  background-color: #f0f0f0;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

nav.show {
  transform: translateX(0);
}

#navbar-ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.navbar-icon-li {
  margin-bottom: 15px;
}

nav ul li a {
  display: flex;
  padding: 12px 15px;
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  transition: background-color 0.2s ease;
  border-left: 3px solid transparent;
}
.large-icon {
  display: none;
}

nav ul li a:hover {
  background-color: #e0e0e0;
  border-left-color: blue;
}
#home-a {
  border-left-color: blue;
}

main {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "sponsor sponsor"
  "mkr-schema .";
}
#sponsors {
  grid-area: sponsor;
}
#sponsors-logo-container {
  display: grid;
  grid-template-areas:
    "radne okm"
    "fp .";
  gap: 10px;
}
.sponsors-logo-div {
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  color: #3498db;
}
#nav-menu.hidden {
  display: none;
}
#mkr-schema {
  grid-area: mkr-schema;
}
ol {
  padding-left: 20px;
}


@media (min-width: 700px) {
  #hamburger-btn {
    display: none;
  }
  .dissapear {
    display: none;
  }
  nav {
    display: block;
    position: static;
    transform: translateX(0);
    overflow: visible;
    padding: 0;
  }

  #nav-menu.hidden {
    display: block;
  }

  #navbar-ul {
    display: flex;
  }

  .navbar-icon-li {
    margin: 0 20px;
  }
  nav ul li a {
    padding: 10px;
  }
  #sponsors-logo-container {
    display: grid;
    grid-template-areas:
      "radne okm fp";
    gap: 10px;
  }
  main {
    margin-top: 0;
  }
}